{% macro recursiveCategory(categories, loopDashes, selected, disableId) %}
    {% for category in categories %}
        <option value="{{ category.id }}" {% if category.id == selected %}selected{% elseif category.id == disableId %}disabled{% endif %}>{{ str_repeat("-", loopDashes) }}&nbsp;{{ category.title }}</option>
        {% if category.children_recursive and category.children_recursive|length > 0 %}
            {% set loopDashes = loopDashes + 1 %}
            {% import _self as recursive %}
            {% if disableId and disableId == category.children_recursive.parent %}
                {{ recursive.recursiveCategory(category.children_recursive, loopDashes, selected, child.id) }}
            {% else %}
                {{ recursive.recursiveCategory(category.children_recursive, loopDashes, selected, disableId) }}
            {% endif %}
        {% endif %}        
        {% set loopDashes = 0 %}
    {% endfor %}
{% endmacro %}
