{% extends "back.html" %}
{% block header %}
    {{ parent() }}
    <!-- Begin CSS -->
    <link type="text/css" rel="stylesheet" href="/assets/vendor/fileinput/fileinput.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/vendor/cropper/cropper.min.css">
    <!-- End CSS -->
{% endblock %}
{% block title %}Slide Edit{% endblock %}
{% block slides_active %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit slide with title &ldquo;{{ slide.title }}&rdquo;</h3>
                </div>
                <form name="form-slide" id="form-slide" method="post" enctype="multipart/form-data" action="{{ urlFor("intranet.slides.edit", {id: slide.id}) }}">
                    <input type="hidden" name="id" value="{{ slide.id }}">
                    <input type="hidden" name="old-file" value="{{ slide.featured_photo }}">
                    <input type="hidden" id="x" name="x">
			        <input type="hidden" id="y" name="y">
			        <input type="hidden" id="w" name="w">
			        <input type="hidden" id="h" name="h">
                    <div class="box-body">
                        {% include "Utils/_error_success.html" with {result: message} %}
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="title">Title <span class="required">*</span></label>
                                    <input type="text" name="title" class="form-control" id="title" value="{{ slide.title }}">
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <label for="content">Description</label>
                                    <textarea name="content" class="form-control" id="content" rows="5">{{ slide.content }}</textarea>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="status">Status <span class="required">*</span></label>
                                    <select name="status" class="form-control" id="status">
                                        <option value="PUBLISHED" {% if slide.status == "PUBLISHED" %}selected{% endif %}>PUBLISHED</option>
                                        <option value="DRAFT" {% if slide.status == "DRAFT" %}selected{% endif %}>DRAFT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="featured_photo">Slide <span class="required">*</span></label>
                                    <br>
                                    <div class="fileinput fileinput-exists" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="max-width:700px; max-height:525px;">
                                            <img alt="" src="http://www.placehold.it/700x525/EFEFEF/AAAAAA&text=no+image">
                                        </div>
                                        <div id="slide-area-select" class="fileinput-preview fileinput-exists thumbnail" style="max-width:700px; max-height:525px;">
                                            <img alt="" src="/uploads/{{ slide.featured_photo }}">
                                            <input type="hidden" name="existing-image" value="1">
                                        </div>
                                        <div>
                                            <span class="btn btn-default btn-file">
                                                <span class="fileinput-new">Select image</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="featured_photo" id="featured_photo">
                                            </span>
                                        </div>
                                    </div>
                                    <p class="help-block">The photo/image must be in the JPG or PNG format and it will be cropped in 940px X 350px</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary"><i class="icon fa fa-floppy-o"></i> Save slide</button>
                        <a class="btn btn-default" href="{{ urlFor("intranet.slides.list", {page: 1}) }}"><i class="icon fa fa-level-up"></i> Go to slides</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_footer %}
    {{ parent() }}
    <!-- Begin JS -->
    <script type="text/javascript" src="/assets/vendor/fileinput/fileinput.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/cropper/cropper.min.js"></script>
    <!-- End JS -->
{% endblock %}
