{% extends "front.html" %}
{% block title %}| {{ title }}{% endblock %}
{% block header %}
    {{ parent() }}
    <!-- Begin Dynamic CSS -->
    <link type="text/css" rel="stylesheet" href="/assets/vendor/jquery-flexslider/jquery-flexslider.css">
    <link type="text/css" rel="stylesheet" href="/assets/vendor/jquery-fancybox/jquery-fancybox.min.css">
    <!-- End Dynamic CSS -->
{% endblock %}
{% block content %}
    {{ doShortcode(content) | raw }}
{% endblock %}
{% block js_footer %}
    {{ parent() }}
    <!-- Begin Dynamic JS -->
    <script type="text/javascript" src="/assets/vendor/jquery-flexslider/jquery-flexslider.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/jquery-fancybox/jquery-fancybox.min.js"></script>
    <!-- End Dynamic JS -->
{% endblock %}
