{% extends 'front.html' %}

{% block content %}
<h1>PPAlways Keep Footer at Bottom</h1>
        <p>With this little code block, you can always keep the footer at the the bottom of your page, no matter your content's height.</p>
        <p>You don't have to wrap your page in a container div or anything. Copy those little CSS & JS blocks and they'll do the rest.</p>
      <h1>Always Keep Footer at Bottom</h1>
        <p>With this little code block, you can always keep the footer at the bottom of your page, no matter your content's height.</p>
        <p>You don't have to wrap your page in a container div or anything. Copy those little CSS & JS blocks and they'll do the rest.</p>
      <h1>Always Keep Footer at Bottom</h1>
        <p>With this little code block, you can always keep the footer at the bottom of your page, no matter your content's height.</p>
        <p>You don't have to wrap your page in a container div or anything. Copy those little CSS & JS blocks and they'll do the rest.</p>
      <h1>Always Keep Footer at Bottom</h1>
        <p>With this little code block, you can always keep the footer at the bottom of your page, no matter your content's height.</p>
        <p>You don't have to wrap your page in a container div or anything. Copy those little CSS & JS blocks and they'll do the rest.</p>
      <h1>Always Keep Footer at Bottom</h1><h1>Always Keep Footer at Bottom</h1>
        <p>With this little code block, you can always keep the footer at the bottom of your page, no matter your content's height.</p>
        <p>You don't have to wrap your page in a container div or anything. Copy those little CSS & JS blocks and they'll do the rest.</p>
      <h1>Always Keep Footer at Bottom</h1>
        <p>With this little code block, you can always keep the footer at the bottom of your page, no matter your content's height.</p>
        <p>You don't have to wrap your page in a container div or anything. Copy those little CSS & JS blocks and they'll do the rest.</p>
      <h1>Always Keep Footer at Bottom</h1>
        <p>With this little code block, you can always keep the footer at the bottom of your page, no matter your content's height.</p>
        <p>You don't have to wrap your page in a container div or anything. Copy those little CSS & JS blocks and they'll do the rest.</p>
      <h1>Always Keep Footer at Bottom</h1>
        <p>With this little code block, you can always keep the footer at the bottom of your page, no matter your content's height.</p>
        <p>You don't have to wrap your page in a container div or anything. Copy those little CSS & JS blocks and they'll do the rest.</p>
      <h1>Always Keep Footer at Bottom</h1><h1>Always Keep Footer at Bottom</h1>
        <p>With this little code block, you can always keep the footer at the bottom of your page, no matter your content's height.</p>
        <p>You don't have to wrap your page in a container div or anything. Copy those little CSS & JS blocks and they'll do the rest.</p>

{% endblock %}
