{% spaceless %}
    <div id="confirmDialog" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                    <h4 class="modal-title">Deleting information!</h4>
                </div>
                <div class="modal-body">
                     Are You sure?
                     <p></p>
                 </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i>&nbsp;No</a>
                    <a href="#" class="btn btn-success dataConfirmOK"><i class="fa fa-check"></i>&nbsp;Yes</a>
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}
