{% spaceless %}
    <!--div id="main-menu">
        <ul>
            <li class="hidden-lg"><a href="/" title="">Home</a></li>
            <li class=""><a href="#" title="">About Our Business</a></li>
            <li class=""><a href="#" title="">Investors</a></li>
            <li class=""><a href="#" title="">News</a></li>
            <li class=""><a href="#" title="">Projects</a></li>
            <li class=""><a href="#" title="">Countries of Operations</a></li>
            <li class=""><a href="#" title="">Contact Us</a></li>
            <li class=""><a href="#" title="">Menus</a>
                <ul>
                    <li class=""><a href="#" title="">Menu 1</a>
                        <ul>
                            <li class=""><a href="#" title="">Menu 1.1</a></li>
                            <li class=""><a href="#" title="">Menu 1.2</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="#" title="">Menu 2</a></li>
                </ul>
            </li>
            <li class=""><a href="#" title="">test</a></li>
            <li class="hidden-lg"><a href="/sitemap" title="Sitemap">Sitemap</a></li>
            <li class="hidden-lg"><a href="/imprint" title="Imprint">Imprint</a></li>
        </ul>
    </div-->

    <div id="main-menu">
        {{ getMenu('main-menu') | raw }}
    </div>

{% endspaceless %}
