{% macro recursiveMenu(menu) %}
    <ol class="dd-list">
        {% for item in menu %}
            <li class="dd-item dd3-item" data-url="{{ item.url }}" data-title="{{ item.title }}">
                <div class="dd-handle dd3-handle"><i class="fa fa-arrows-alt"></i></div>
                <div class="dd3-content">{{ item.title }}</div>
                <button type="button" class="dd3-delete btn btn-default btn-block" data-action="remove"><i class="fa fa-close"></i></button>
                {% if item.children and item.children|length > 0 %}
                    {% import _self as recursive %}
                    {{ recursive.recursiveMenu(item.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}
