{% spaceless %}
    <div class="widget">
        <h3 class="widget-title">News Categories</h3>
        {% set categories = getSitemapFor("category") %}
        {% if categories is iterable and categories|length > 0 %}
            {% import "Utils/_recursive_sitemap.html" as print %}
            {{ print.printSitemap(categories, "menu") }}
        {% endif %}
    </div>
    <div class="widget">
        {% import "Utils/_latest_news.html" as latest %}
        {{ latest.latestNews("Latest News", 44, 2) }}
    </div>
    <!--div class="widget">
        {% import "Utils/_latest_news.html" as latest %}
        {{ latest.latestNews("Europa Re in the news", 45, 4) }}
    </div-->
    <!--div class="widget">
        {% import "Utils/_latest_news.html" as latest %}
        {{ latest.latestNews("Conferences and Events", 69, 4) }}
    </div-->
{% endspaceless %}
