{% extends "back.html" %}
{% block title %}Posts Categories{% endblock %}
{% block posts_active %}active{% endblock %}
{% block post_categories_active %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">CMS Post Categories</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <a class="btn btn-sm btn-success pull-right" href="{{ urlFor("intranet.categories.add") }}"><i class="fa fa-plus"></i> Add Category</a>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    {% include "Admin/Utils/_error_success.html" with {result: getFlashMessage("message")} %}
                    {% if categories is iterable and categories|length > 0 %}
                        {% import "Admin/Utils/_recursive_category_table.html" as recursive %}
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="uppercase">ID</th>
                                    <th class="uppercase">Title</th>
                                    <th class="uppercase">Status</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ recursive.recursiveCategory(categories, 0) }}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">
                            <h4><i class="icon fa fa-info"></i> Notification</h4>
                            <p>No information was found!</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
