{% extends "front.html" %}
{% block header %}
    {{ parent() }}
    <!-- Begin CSS -->
    <link type="text/css" rel="stylesheet" href="/assets/vendor/jquery-fancybox/jquery-fancybox.min.css">
    <!-- End CSS -->
{% endblock %}
{% block title %}| {{ title }}{% endblock %}
{% block fb %}
    <meta property="og:url" content="{{ serverUrl() ~ urlFor("post", {slug: slug}) }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ words(content, 10) }}">
    {% if featured_photo %}
        <meta property="og:image" content="{{ serverUrl() }}/uploads/{{ featured_photo }}">
    {% endif %}
    <meta property="fb:app_id" content="{{ getSetting("fb_app_id") }}">
{% endblock %}
{% block content %}
    <div id="main" class="post-single three-fourths">
        <div class="post clearfix">
            {% if featured_photo %}
                <div class="post-single-image">
                    <a class="fancybox" href="/uploads/{{ featured_photo }}" title="{{ title }}"><span class="overlay zoom"></span><img src="/uploads/{{ featured_photo }}" alt="{{ title }}"></a>
                </div>
            {% endif %}
            <div class="post-body">
                <h2 class="post-title">{{ title }}</h2>
                {% if date %}
                    <div class="post-date">
                        <span>{{ date | date("M jS, Y") }}</span>
                    </div>
                {% endif %}
                <div class="post-content">{{ doShortcode(content) | raw }}</div>
                {% if template and template != "default"  %}
                    {% include "Utils/_template_" ~ template ~ ".html" %}
                {% endif %}
            </div>
		</div>
    </div>
    <div id="sidebar" class="one-fourth column-last">
         {% include "Utils/_sidebar.html" %}
    </div>
{% endblock %}
{% block js_footer %}
    {{ parent() }}
    <!-- Begin JS -->
    <script type="text/javascript" src="/assets/vendor/jquery-fancybox/jquery-fancybox.min.js"></script>
    <!-- End JS -->
{% endblock %}
